@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-width: 11rem;
  --card-height: 18rem;
  --textColor:  rgb(112, 219, 249);
  --colorLight: #5ddcff;
  --colorMiddle: #3c67e3;
  --colorDark: #4e00c2;
  --colorBG: rgb(48, 46, 46);
}

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1 {
  margin-top: 3rem;
}

h2 {
  margin: 2rem;
}

button {
  width: 6rem;
  height: 2rem;
  background-color: var(--colorBG);
  color: white;
  border-radius: 5px;
  border-color: var(--colorMiddle);
  margin: 0.5rem 0.5rem;
  box-shadow: 0 0 10px white;
}

.pressedGenButton {
  color: var(--colorLight);
  box-shadow: 1px 1px 20px white;
}

input {
  height: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border:none;
  box-shadow: 0 0 10px white;
}

body {
  background-image: url("assets/background.jpg"); 
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#upperBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#commonSearchBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#typeButtons {
  max-width: 14rem;
}

.typeInput {
  display: none;
}

.typeIcons {
  width: 30px;
  height: 30px;
  filter: grayscale(90%);
}

.typeIcons:hover {
  filter: none;
}

.pressed {
  filter: none;
  box-shadow: 0 0 10px white;
}

#generationsChoice {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#generationButtonsBox {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#searchByName {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
}

#pokNameLable {
  font-size: 0.8rem;
}

#nameInput {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

#cards {
  display: flex;
  flex-wrap: wrap;
}

#startScreenCard {
  width: calc(var(--card-width)*1.5);
  height: calc(var(--card-height)*1.5);
  font-family: cursive;
  font-size: 1.5rem;
  color: var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-style: none;
}

#startScreenCard::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , var(--colorLight), var(--colorMiddle), var(--colorDark));
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

#startScreenCard::after {
  position: absolute;
  content: "";
  top: -1rem;
  left: 0;
  right: 0;
  z-index: -1;
  height: 110%;
  width: 110%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , var(--colorLight), var(--colorMiddle), var(--colorDark));
    opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 5px;
  border-color: var(--colorMiddle);
  border-style: solid;
  border-width: 2px;
  background-color: var(--colorBG);
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card:hover {
  border-style: none;
}

.card:hover::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , var(--colorLight), var(--colorMiddle), var(--colorDark));
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card:hover::after {
  position: absolute;
  content: "";
  top: -1rem;
  left: 0;
  right: 0;
  z-index: -1;
  height: 110%;
  width: 110%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , var(--colorLight), var(--colorMiddle), var(--colorDark));
    opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.idAndTypes {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.pokID {
  margin: 0.2rem;
}

.pokemonTypeImg {
  width: 25px;
  height: 25px;
}

.pokemonImg {
  max-width: 90%;
  max-height: 60%;
  filter:sepia(100%);
  justify-content: center;
}

.pokemonImg:hover {
  filter:sepia(0);
}

.bottomOfCard {
  height: 17%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
  display: flex;
  justify-content:space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pokName{
  font-size: 1.3rem;
  margin: 0 0.5rem;
}

.data {
  margin-left: 2rem;
}

/* BACK TO TOP BUTTON */
#backToTop {
  /* to fix a button at the right bottom position */
  position: fixed;
  opacity: 80%;
  height: 45px;
  width: 45px;
  font-size: 2rem;
  background-color: var(--colorMiddle);
  bottom: 2rem;
  right: 2rem;
  text-align: center;
  padding-bottom: 0.5rem;
  display: none;
}